body {
	background-color: white;
    font-family: 'Caveat Brush', cursive;
}

h1 {
    color: rgb(124, 195, 225);
    font-size: 36px;
    text-align: center;
    margin: 4% auto 1% auto;
}

input[type="button"]{
	background-color: rgb(124, 195, 225);
	width: 200px;
	display: block;
    margin: 16px auto;
    height: 100px;
    font-size: 20px;
    color: white;
    border: 4px solid #1e8bc3;
    border-radius: 8px;
    font-family: 'Caveat Brush', cursive;
}

#canvas-update{
	width: 500px;
	display: block;
    margin: auto;
    border: 8px solid rgb(124, 195, 225);
    border-radius: 15px;
}